{% extends 'base.html' %} {% block title %} Sistem Rekomendasi ANP-SAW {%
endblock %} {% block content %}
<div class="container">
  <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-5 mb-4 fw-bold">Bobot Kepentingan</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Isilah bobot kriteria dan sub- kriteria sesuai dengan tingkat
        kepentingan
      </p>
    </div>
  </div>
  <form method="POST">
  <div class="bot_kriteria" id="bobot-kriteria">
    <div id='bobot'>
    <h5>Bobot Kepentingan Kriteria</h5>
    <table class="tabel_kriteria">
      <tbody>
        {% for k in context.kriteria %}
        <tr>
          <td>
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected value="{{ k }}">
                {{ k }}
              </option>
              {% for kriteria in context.kriteria %} {% if kriteria != k %}
              <option value="{{ kriteria }}">{{ kriteria }}</option>
              {% endif %} {% endfor %}
            </select>
          </td>
          <td>
            <label for="customRange2" class="form-label"></label>
            <input
              type="range"
              class="form-range"
              min="1"
              max="9"
              step="1"
              value="0"
              id="bobot-range"
              name='{{ kriteria }}'
              
            />
          </td>
          <td>
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
            >
              <option selected>
                {{ k }}
              </option>
              {% for kriteria in context.kriteria %} {% if kriteria != k %}
              <option value="{{ kriteria }}">{{ kriteria }}</option>
              {% endif %} {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-info text-white" type="button" onclick="toggleSub()">Selanjutnya</button>
    </div>
    <div id='sub'>
        <h5>Bobot Kepentingan Sub-Kriteria</h5>
        <table class="tabel_subkriteria">
          <tbody>
            {% for s in context.subkriteria %}
            <tr>
              <td>
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                >
                  <option selected value="{{ s }}">
                    {{ s }}
                  </option>
                  {% for sub in context.subkriteria %} {% if sub != s %}
                  <option value="{{ sub }}">{{ sub }}</option>
                  {% endif %} {% endfor %}
                </select>
              </td>
              <td>
                <label for="customRange2" class="form-label"></label>
                <input
                  type="range"
                  class="form-range"
                  min="1"
                  max="9"
                  step="1"
                  id="customRange2"
                  name="{{ sub }}"
                />
              </td>
              <td>
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                >
                  <option selected>
                    {{ s }}
                  </option>
                  {% for sub in context.subkriteria %} {% if sub != s %}
                  <option value="{{ sub }}">{{ sub }}</option>
                  {% endif %} {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<script src='../static/js/custom.js'></script>
{% endblock %}


